{% extends "layout.html" %}

{% block title %}
Feeds
{% endblock %}

{% block feeds %}
<li class="nav-item active">
    <a class="nav-link" href="#">Feeds</a>
</li>
{% endblock %}

{% block body %}
<br/>
<h3 class="d-flex justify-content-center">To add a feed to RSS Reader copy the Path link</h3>
<div id="feed" class="d-flex justify-content-center">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>
        {% if feeds %}
        {% for feed in feeds %}
        <tr>
            <td><a href="/feed/{{ feed.id }}">{{ feed.id }}</a></td>
            <td><strong>{{ feed.title }}</strong></td>
            <td><a href="{{ feed.url }}">{{ feed.url }}</a></td>
            <td>{{ feed.description }}</td>
            <td><a href="/static/feeds/{{feed.path}}">{{ feed.path }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}


        </tbody>
    </table>

</div>
{% if message %}
<div class="row justify-content-center">
    <div class="alert" role="alert">
        {{ message }}
    </div>
</div>
{% endif %}
<form class="d-flex justify-content-center" method="get" action="/feed/add">
    <input type="submit" value="Create New Feed" name="add"/>
</form>
{% endblock %}