{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Create RSS feed from any website</h3>
<br/>
<p>RSS Feed is of the form:</p>
<textarea class="d-flex justify-content-center" rows="13" cols="60" style="border:none;">

    <rss version="2.0">
        <channel>
            <title>hackernews</title>
            <link>https://news.ycombinator.com/newest</link>
            <description>Hackers feed</description>
            <item>
                <title>Failed Startups in the Construction Industry?</title>
                <link>https://news.ycombinator.com/item?id=39152707</link>
                <description/>
            </item>
        </channel>
    </rss>
    </textarea>
<hr/>
<p> The meaning of the fields are </p>
<ol>
    <li><strong>Title</strong> : Title of the Feed</li>
    <li><strong>Link</strong> : URL of the Website</li>
    <li><strong>Description</strong>: Optional description of the Feed</li>
    <li><strong>Item</strong>: This is the individual Items in the feed which is updated automatically</strong></li>
</ol>
<p>To learn more about RSS Feed and how to create one from a website refer <a href="/details">here</a></p>
{% endblock %}