{% extends "layout.html" %}

{% block title %}
    {{ feed.title }}
{% endblock %}

{% block add %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add') }}">Add</a>
    </li>
{% endblock %}

{% block feeds %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('feeds') }}">Feeds</a>
    </li>
{% endblock %}

{% block body %}
    <br/>
    <h4 class="d-flex justify-content-center">Updating... {{ feed.title }}</h4>
    <div id="feed" class="d-flex justify-content-center">
        <form method="post" action="/feed/{{ feed.id }}/save">

            <table>
                <tr>
                    <td>Feed Title:</td>
                    <td><input style="width: 300px" name="title" type="text" value="{{ feed.title }}"></td>
                </tr>
                <tr>
                    <td>Feed Name:</td>
                    <td><input style="width: 300px" name="feed_name" type="text" value="{{ feed.name }}"></td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td><input style="width: 300px" name="url" type="text" value="{{ feed.url }}"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input style="width: 300px" name="description" type="text" value="{{ feed.description }}"></td>
                </tr>
            </table>
            <br/>
            <table>
                <tr>
                    <th></th>
                    <th>Tag</th>
                    <th>Class</th>
                </tr>
                <tr>
                    <td>Item Extractor:</td>
                    <td><input name="item_tag" type="text" value="{{ feed.item_tag }}"></td>
                    <td><input name="item_cls" type="text" value="{{ feed.item_cls }}"></td>
                </tr>
                <tr>
                    <td>Title Extractor:</td>
                    <td><input type="text" name="title_tag" value="{{ feed.title_tag }}"></td>
                    <td><input type="text" name="title_cls" value="{{ feed.title_cls }}"></td>
                </tr>
                <tr>
                    <td>Link Extractor:</td>
                    <td><input type="text" name="link_tag" value="{{ feed.link_tag }}"></td>
                    <td><input type="text" name="link_cls" value="{{ feed.link_cls }}"></td>
                </tr>
                <tr>
                    <td>Description Extractor:</td>
                    <td><input type="text" name="desc_tag" value="{{ feed.description_tag }}"></td>
                    <td><input type="text" name="desc_cls" value="{{ feed.description_cls }}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save" name="save"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}